*.html linguist-detectable=false

*.CMake linguist-detectable=false
*.java linguist-detectable=false
*.swift linguist-detectable=false
*.c linguist-detectable=false
*.Other linguist-detectable=false
*.cmake linguist-detectable=false
*.cpp linguist-detectable=false
CMakeLists.txt linguist-vendored
*.cpp linguist-vendored




